asgiref
autopep8
awsebcli
botocore
cement
certifi
cffi
charset-normalizer
colorama
cryptography
defusedxml
dj-database-url
Django
django-address
django-allauth
django-environ
django-feather
django-phonenumber-field
django-pwa=
django-sslserver
gunicorn
idna
jmespath
oauthlib
pathspec
phonenumbers
psycopg2
pycodestyle
pycparser
PyJWT
python-dateutil
python3-openid
pytz
PyYAML
requests-oauthlib
semantic-version
six
sqlparse
termcolor
toml
tomli
tzdata
urllib3
wcwidth
whitenoise
