{% extends "layouts/base.html" %}

{% block title %} Student Details {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Edit Donation</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">

                                                
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="fn">Student Name</label>
                                                        <input type="email" class="form-control" id="fn" aria-describedby="emailHelp" placeholder="{{student.name}}">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="ln">Birthday</label>
                                                        <input type="email" class="form-control" id="ln" aria-describedby="emailHelp" {{student.dob}}="">
                                                    </div>
                                                </div>
                                                
                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label for="add">Program</label>
                                                        <input type="email" class="form-control" id="add" aria-describedby="emailHelp" placeholder="{{student.program}}">
                                                        <small id="addd" class="form-text text-muted"></small>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label for="add">Community</label>
                                                        <input type="email" class="form-control" id="add" aria-describedby="emailHelp" placeholder="{{student.community}}">
                                                        <small id="addd" class="form-text text-muted"></small>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label for="add">Grade</label>
                                                        <input type="email" class="form-control" id="add" aria-describedby="emailHelp" placeholder="{{student.grade}}">
                                                        <small id="addd" class="form-text text-muted"></small>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label for="add">Current Sponsor</label>
                                                        <input type="email" class="form-control" id="add" aria-describedby="emailHelp" placeholder="{{student.sponsor}}">
                                                        <small id="addd" class="form-text text-muted"></small>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label for="abt">Previous Sponsors</label>
                                                        <textarea type="email" class="form-control" id="abt" aria-describedby="emailHelp" placeholder="Sponsorship History"></textarea>
                                                        <small id="abf" class="form-text text-muted"></small>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </div>   

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/user/profile.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        {{ student.name }}
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
