{% extends "layouts/base.html" %}

{% block title %} Program/Project Details {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Edit Program/Project</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">

                                                <form action="{{sponsor.id}}" method="POST">
                                                    {% csrf_token %}
                                                    {{form.as_p}}
                                                    <input type="submit" value="Submit">
                                                </form>

                                                
                                                {% comment %} <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="fn">Program/Project Name</label>
                                                        <input type="email" class="form-control" id="fn" aria-describedby="emailHelp" placeholder="{{student.name}}">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="ln">Type</label>
                                                        <input type="email" class="form-control" id="ln" aria-describedby="emailHelp" {{student.dob}}="">
                                                    </div>
                                                </div>
                                                
                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label for="add">Description</label>
                                                        <input type="email" class="form-control" id="add" aria-describedby="emailHelp" placeholder="{{student.program}}">
                                                        <small id="addd" class="form-text text-muted"></small>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </div>    {% endcomment %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
