{% extends "layouts/base.html" %}
{% load util %}

{% block title %} Search Results {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10"><u>Search Results</u></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ Hover-table ] start -->
                                <div class="col-xl-12">
                                    
                                    
                                    {% if results %}
                                        
                                        <div class="card">
                                            <div class="card-block table-border-style">
                                               <div class="table-responsive">
                                                   <table class="table table-hover">
                                                       <thead>
                                                           <tr>
                                                               <th>ID#</th>
                                                               <th>Name</th>
                                                           </tr>
                                                       </thead>
                                                       <tbody>
                                                           {% for r in results %}
                                                           <tr>
                                                               <th scope="row">{{r.id}}</th>

                                                                {% if r|get_type == "Donor" %}
                                                                <td><a href="../sponsor/{{r.id}}">{{r.name}}</a> (Donor)</td>
                                                                
                                                                {% elif r|get_type == "Beneficiary"%}
                                                                <td><a href="../student/{{r.id}}">{{r.name}} </a> (Student)</td>
                                                                
                                                                {% elif r|get_type == "Program"%}
                                                                <td><a href="../program/{{r.id}}">{{r.name}}</a> (Program)</td>
                                                                
                                                                {% elif r|get_type == "Church"%}
                                                                <td><a href="../group/{{r.id}}">{{r.name}}</a> (Group)</td>
                                                                
                                                                {% elif r|get_type == "Donation"%}
                                                                <td><a href="../donation/{{r.id}}">{{r.donor}}</a> (Donation)  --  ${{r.amount}}  --  {{r.date}}</td>
                                                                {% endif %} 

                                                                
                                                               
                                                           </tr>
                                                           {% endfor %}
                                                       </tbody>
                                                   </table>
                                               </div>
                                           </div> 
                                       </div>
                                    {% else %}
                                        <h5>Nothing was found for: {{searchTerm}}</h5>
                                    {% endif%}


                                </div>
                                <!-- [ Hover-table ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
                {% comment %} Payment Modal {% endcomment %}
                <div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="studentModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="paymentModalLabel">Add Student</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">

                            <form action="" method="POST">
                                {% csrf_token %}
                                <table>
                                    {{form.as_table}}
                                </table>
                                <input type="submit" value="Submit" class="btn btn-primary">
                            </form>
                          
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                    </div>
                  </div>

                  
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
