{% extends "layouts/base.html" %}

{% block title %} Donor/Sponsor Details {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Edit Donor</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">

                                                <form action="{{sponsor.id}}" method="POST">
                                                    {% csrf_token %}
                                                    {{form.as_p}}
                                                    <input type="submit" value="Submit">
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Donations</h5>
                                            </div>
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Donation ID</th>
                                                                <th>Date</th>
                                                                <th>Purpose</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            {% for donation in donations %}
                                                                <tr>
                                                                    <th scope="row"><a href="../donation/{{donation.id}}">{{donation.id}}</a></th>
                                                                    <td>{{donation.date}}</td>
                                                                    <td>{{donation.beneficiary}}</td>
                                                                    <td>{{donation.amount}}</td>
                                                                </tr>
                                                            {% endfor %}
        
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <button type="button" class="btn btn-danger" title="" data-toggle="modal" data-original-title="Delete this sponsor" data-target="#sponsorModal" aria-describedby="Delete this sponsor">Delete Sponsor</button>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    {% comment %} Delete Modal {% endcomment %}
    <div class="modal fade" id="sponsorModal" tabindex="-1" role="dialog" aria-labelledby="sponsorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sponsorModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a href="..{{request.path}}/delete"><button type="submit" class="btn btn-danger">Yes</button></a>
            </div>
            <div class="modal-footer">
                
            </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
